# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [97]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
#display(data.loc[data['debt'] == 1, 'children'].value_counts())
#display(data.loc[data['debt'] == 0, 'children'].value_counts())

data_pivot_c = data.pivot_table(index='children', columns='debt', values='days_employed', aggfunc='count')
display(data_pivot_c)

def percent_debt(row):
    debt_0 = row[0]
    debt_1 = row[1]
    
    percent = debt_1 / (debt_0 + debt_1) * 100
    
    return percent

data_pivot_c['percent_debt_1'] = data_pivot_c.apply(percent_debt, axis=1).round(decimals=2)

display(data_pivot_c)

debt            0       1
children
0         13028.0  1063.0
1          4364.0   444.0
2          1858.0   194.0
3           303.0    27.0
4            37.0     4.0
5             9.0     NaN

debt            0       1  percent_debt_1
children
0         13028.0  1063.0            7.54
1          4364.0   444.0            9.23
2          1858.0   194.0            9.45
3           303.0    27.0            8.18
4            37.0     4.0            9.76
5             9.0     NaN             NaN

**Ход решения:**
Я создал сводную таблицу в которой сгруппировал данные по количеству детей и задолженностью по кредиту. В ячейках со значениями этой таблицы я подсчитал количество заемщиков в каждой категории. Для этого я использовал столбец `'days_employed'` и применил к нему функцию `'count'`. 

Отобразил получившуюся таблицу.

Абсолютных значений мне показалось недостаточным, чтобы сделать окончательные выводы. Поэтому я вычислил относительные значения по каждой строчке. Подчитал какой процент, просрочил выплату, от общего числа заемщиков. Сделал это с помощью пользовательской функции `percent_debt`. Она принимает один аргумент в виде строки DataFrame и возвращает значения в процентах с округлением до 2 знаков после запятой.
Данные отобразил в новом  столбце `'percent_debt_1'`.

**Вывод:**
Исходя из полученной информации я могу сделать следующие выводы:
* Количество всех заемщиков уменьшается с увеличением количества детей в семье
* Количество заемщиков просрочивших выплаты также уменьшается с увеличением количества детей в семье
* Процент заемщиков просрочивших выплату от общего числа заемщиков меняется незначительно в зависимости от количества детей в семье
* Наибольший процент просрочивших выплату заемщиков в категории с 4 детьми 9,76%
* Наименьший процент просрочивших выплату заемщиков в категории без детей 7,54%
* Из данных отчетливо видно, что в категориях с детьми процент задолженностей выше на 2%, чем в категории без детей.

**Есть ли зависимость между количеством детей и возвратом кредита в срок?**  

**Да, но только между категориями с детьми и без детей.**

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [89]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
#display(data.loc[data['debt'] == 1, 'family_status'].value_counts())
#display(data.loc[data['debt'] == 0, 'family_status'].value_counts())

data_pivot_f = data.pivot_table(index='family_status', columns='debt', values='days_employed', aggfunc='count')\
.sort_values(by=0, ascending=False)

display(data_pivot_f)

data_pivot_f['percent_family_1'] = data_pivot_f.apply(percent_debt, axis=1).round(decimals=2)

data_pivot_f

debt                       0    1
family_status
женат / замужем        11334  927
гражданский брак        3749  385
Не женат / не замужем   2523  273
в разводе               1105   84
вдовец / вдова           888   63

debt                       0    1  percent_family_1
family_status
женат / замужем        11334  927              7.56
гражданский брак        3749  385              9.31
Не женат / не замужем   2523  273              9.76
в разводе               1105   84              7.06
вдовец / вдова           888   63              6.62

**Ход решения:**
Так же как и в прошлой задаче создал сводную таблицу. В качестве индекса выбрал столбец `'family_status'`. В ячейках со значениями также подсчитал количество заемщиков в каждой категории.

Использовал функцию `percent_debt` определенную в прошлой задаче, для подсчета процента заемщиков с задолженностью по возврату кредитов. Также вычислил процент внутри каждой категории. Данные отобразил в новом  столбце `'percent_debt_1'`.

**Вывод:** 
Исходя из полученной информации я могу сделать следующие выводы:
* Самыми аккуратными заемщиками является группа с семейным статусом "вдовец / вдова" с 6,62%
* Самый большой процент задолженностей по возврату кредитов в группе с семейным статусом "Не женат / не замужем" - 9,76%
* Самая обширная категория заемщиков с семейным статусом "женат / замужем" - 7,56%
* Распределение по категориям равномерное, поэтому считаю что на основании результатов можно сделать вывод о корреляции.

**Есть ли зависимость между семейным положением и возвратом кредита в срок?**

**Да. В зависимости от семейного положения, есть зависимость величиной до 3,14%. Определенная как разность наибольшего и наименьшего значения по категориям. 
Наиболее предпочтительными заемщиками для банка будут лица с семенным статусом "вдовец / вдова", "в разводе " и "женат / замужем"**

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [100]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot_cat = data.pivot_table(index='total_income_category', columns='debt', values='days_employed', aggfunc='count')

display(data_pivot_cat)

data_pivot_cat['percent_income_1'] = data_pivot_cat.apply(percent_debt, axis=1).round(decimals=2)

data_pivot_cat

debt                       0     1
total_income_category
A                         23     2
B                       4660   354
C                      14568  1353
D                        328    21
E                         20     2

debt                       0     1  percent_income_1
total_income_category
A                         23     2              8.00
B                       4660   354              7.06
C                      14568  1353              8.50
D                        328    21              6.02
E                         20     2              9.09

**Ход решения:**

Ход решения аналогичен двум предыдущим задачам

**Вывод:** 
* Распределение количества заемщиков по категориям веретенообразно. По краям диапазона наименьшее количество заемщиков. Основное количество заемщиков сосредоточено в категориях B, C, D
* Категории A и E крайне малочисленны, считаю данные полученные в них не репрезентативными, поэтому не учитываю в дальнейшем анализе
* Заемщики в категории D с доходом от 30 до 50 тыс. руб. имеют самый низкий процент заемщиков с задолженностью - 6,02%
* Заемщики в категории С с доходом от 50 до 200 тыс. руб. имеют самый высокий процент заемщиков с задолженностью - 8,50%
* Заемщики в категории B с доходом от 200 до 1000 тыс. руб. имеют процент заемщиков с задолженностью - 7,06%. Это опровергает гипотезу о росте неплатежей с ростом дохода.

**Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

**Нет. В представленных данных я не вижу зависимости между уровнем дохода и наличием задолженности по возврату кредита. Здесь скорее прослеживается зависимость между количеством заемщиков и процентом лиц с задолженностью. Чем больше заемщиков, тем выше процент.**

**Возможно следует выделить дополнительные категории и проанализировать их.**

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [101]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot_purpose = data.pivot_table(index='purpose_category', columns='debt', values='days_employed', aggfunc='count')

display(data_pivot_purpose)

data_pivot_purpose['percent_purpose_1'] = data_pivot_purpose.apply(percent_debt, axis=1).round(decimals=2)

data_pivot_purpose

debt                         0    1
purpose_category
операции с автомобилем    3879  400
операции с недвижимостью  9971  780
получение образования     3619  369
проведение свадьбы        2130  183

debt                         0    1  percent_purpose_1
purpose_category
операции с автомобилем    3879  400               9.35
операции с недвижимостью  9971  780               7.26
получение образования     3619  369               9.25
проведение свадьбы        2130  183               7.91

**Ход решения:**

Ход решения аналогичен трем предыдущим задачам

**Вывод:** 
* Распределение по категориям равномерное
* Займы с целью `'операции с недвижимостью'` имеют наименьший процент задолженностей - 7,26%
* Займы с целью `'проведение свадьбы'` также имеют низкий процент задолженностей - 7,91%
* Займы  с целью `'получение образования'` имеют высокий процент задолженностей - 9,25%
* Займы  с целью `'операции с автомобилем'` имеют наибольший процент задолженностей - 9,35%

**Как разные цели кредита влияют на его возврат в срок?**

**Цели кредита влияют на процент задолженности. Для банка можно выделить две категории кредитов в зависимости от целей. С пониженным и повышенным уровнем риска неплатежа. К пониженным относятся категории: `'операции с недвижимостью'` и `'проведение свадьбы'`. К повышенным: `'получение образования'` и `'операции с автомобилем'`.**

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Ответ на данный вопрос зависит от способа получения данных. Если они получены с помощью запросов к другим базам данных, то возможны следующие причины:
* Отсутствие данных в исходной базе данных
* Ошибки в ходе обращения к исходной базе данных
* Ошибки обработки ответа от исходной базы данных
* Ошибки типа данных, с последующей потерей информации

Если исходные данные собраны посредством опроса участников, то может иметь место человеческий фактор. Кто-то не захотел раскрывать размер своего дохода или не знал свой рабочий стаж.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Заполнение пропусков медианными значениями позволяет снизить влияние на результат экстремально больших и малых значений. В отличие от вычисления среднего значения, которое сильнее подвержено влиянию экстремальных величин. Как мы видели в пункте 2.7.3 в нашей выборке присутствуют такие значения. Поэтому решение использовать медианное значение - лучшие решение.

### Шаг 4: общий вывод.

Полученные исходные данные были проверены и предобработаны. Были исключены существующие пропуски в количественных данных, посредство заполнения их медианными значениями по категории. Также была проведена работа с аномальными значениями, приведение их нормальному виду или исключение. Для дальнейшей обработки была произведена категоризация данных. По уровню дохода и по цели заема. Далее был проведен анализ данных и даны ответы на поставленные вопросы

Из проанализированных данных можно сделать следующие выводы:
* Наличие в семье детей увеличивает процент заемщиков с задолженностью по кредиту
* Семейное положение также влияет на процент заемщиков с задолженностью. Наиболее предпочтительными для банка категориями заемщиков являются лица с семенным статусом "вдовец / вдова", "в разводе" и "женат / замужем"
* Не выявлено прямой связи между уровнем дохода и возвратом кредита в срок
* Цели кредита имеют влияние на возврат кредита в срок. В категориях `'операции с недвижимостью'` и `'проведение свадьбы'` процент заемщиков с задолженностью ниже. В категориях `'получение образования'` и `'операции с автомобилем'`процент заемщиков с задолженностью выше